<% provide :title, 'Sign in' %>
<h1>Sign in</h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_for :session, url: sessions_path do |f| %>
			<%= f.label :email %>
			<%= f.email_field :email %>

			<%= f.label :password %>
			<%= link_to "(forgot password)", new_password_reset_path %>
			<%= f.password_field :password %>

			<%= f.submit 'Sign in', class: "btn btn-primary" %>
		<%end%>
		<br>
		<p>New user? <%= link_to 'Sign up now!', signup_path %></p>
	</div>
</div>