<% provide :title, "Password Reset" %>
<h1>Password Reset</h1>
<%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>

	<%= render "shared/error_messages" %>

	<%= hidden_field_tag :email, @user.email %>

	<%= f.label :password %>
	<%= f.password_field :password, class: 'form-control' %>

	<%= f.label :password_confirmation, 'Confirm' %>
	<%= f.password_field :password_confirmation, class: 'form-control' %>

	<%= f.submit 'Reset Password', class: 'btn btn-primary' %>
<%end%>

