<% provide :title, "Password Reset" %>
<h1>Password Reset</h1>
<%= form_for(:password_reset, url: password_reset_index_path) do |f| %>
	<%= f.label :email %>
	<%= f.email_field :email, class: 'form-control' %>

	<%= f.submit 'Send', class: 'btn btn-primary' %>
<%end%>
