<li>
	<%= gravatar_for user %>
	<%= link_to user.name, user %>
	<% if current_user.admin? && !current_user?(user) %>
		<%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?'} %>
	<%end%>
</li>