<li id="<%= micropost.id %>">
	<span class="content">
		<%= micropost.content %>
		<%= image_tag micropost.picture.url if micropost.picture %>
	</span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(micropost.created_at) %> ago.
	</span>
	<% if current_user?(micropost.user) %>
		<%= link_to 'delete', micropost, method: :delete %>
	<% end %>
</li>